<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
           <iframe src="https://www.picatic.com/events/widget/46793?utm_source=promotion&utm_medium=widget&utm_campaign=46793&ticket_description=true&width=auto" frameborder="0" style="display:block;height:510px;max-width:none;width:100%;"></iframe>
		</div>
	</div>
</section>

<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h4>{{ site.ticketTermsTitle }}</h4>
			<span class="tickets-info">{{ site.ticketsInfo }}</span>
			<span class="tickets-info">{{ site.ticketTermsInfo }}</span>
		</div>
	</div>
</section>
<!-- End Tickets Section -->